/*Text*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Average Sans', sans-serif;
}

p {
    font-family: 'Average Sans', sans-serif;
}

body {
    font-family: 'Average Sans', sans-serif;
    line-height: 1.1;
}

body,
html {
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;

}
.ul {
  margin: 0;
}

li{

}

a.home-link:link {
    color: #000000;
    text-decoration: none;
}

a.home-link:hover {
    color: #C2B8B1;
}


/*Social Media buttons*/
.social-media-block {
    padding: 3% 5% 3% 5%;
    margin-left: auto;
    margin-right: auto;
}

.fa {
    padding: 8px;
    font-size: 30px;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    margin: 8px;
    border-radius: 50%;
    float: left;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-github {
  background: #000000;
  color: white;
}

.fa-behance {
    background: #0057ff;
    color: white;
}

.fa-youtube {
    background: #ff0400;
    color: white;
}

.row {
    list-style-type: none;
}

.list-social-buttons {
    padding-top: 0;
}



/*
Left panel styling
*/
.left-content-wrapper {
    z-index: 2;
    width: 40%;
    height: 100%;
    float: left;
}

.right-content-wrapper {
    z-index: 30;
    width: 60%;
    height: 100%;
    float: right;
    overflow: scroll;
}

.bio {
    display: table;
    border: #C2B8B1;
    border-width: 2px;
    border-style: solid;

    
    margin-left: auto;
    margin-right: auto;
    margin-top: 46%;
    padding: 3% 5% 3% 5%;
    width: 50%;
}

.column {
    list-style-type: none;
    align-items: left;
    padding-left: 0px;
}

.title {
    color:#000000;
    text-align: left;
}

.main-menu {
    float: left;
    padding-right: 50%;
}

a.main-menu:link {
    color: #547275;
    text-decoration: none;
}

a.main-menu:visited {
    color: #756960;
}

a.main-menu:hover {
    color: #FFC193;
}

a.main-menu:active {
    color: #C2B8B1;
}

/* RIGHT PANEL STUFF */

/*Video styling*/

.intro-video {
    display: table;
    z-index: 50;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    margin-bottom: 20%;
}

.video-home {
    position: relative;
    width: 100%;
    min-width: 10%;
    min-height: 10%;
}

/* Instagram styling */
.no-gaps {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
}

.no-gaps > a {
    width: 30%;
    padding: 1px 2px 0 2px;
}

.no-gaps > a > img {
    width: 100%;
    
}



/* Behance styling */

.clearfix {
    *zoom: 1;
  }
.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}

.portfolio-area {
margin: 50px auto;
margin: 5rem auto;
max-width: 960px;
max-width: 96rem;
width: 100%;
}
.portfolio-area .portfolio-list {
padding-left: 0;
}
.portfolio-area .portfolio-item {
margin-bottom: 30px;
margin-bottom: 3rem;
height: 320px;
height: 32rem;
padding: 0 15px;
padding: 0 1.5rem;
float: left;
list-style-type: none;
width: 27%;
}
.portfolio-area .portfolio-content {
text-align: center;
}
.portfolio-area .portfolio-image {
border: 8px solid #fff;
max-width: 100%;
}
.portfolio-area .portfolio-cover {
cursor: -webkit-zoom-in;
cursor: -moz-zoom-in;
cursor: -zoom-in;
width: 100%;
}
.portfolio-area .portfolio-title {
font-size: 14px;
font-size: 1.4rem;
color: #557682;
text-transform: capitalize;
vertical-align: middle;
width: 100%;
}
.portfolio-area .portfolio-fields {
font-size: 12px;
font-size: 1.2rem;
color: #aeaeae;
}
.portfolio-area .portfolio-fields .field-list {
padding: 0;
}
.portfolio-area .portfolio-fields .field-item {
display: inline-block;
}
.portfolio-area .portfolio-fields .field-item:after {
content: ' ,';
}
.portfolio-area .portfolio-fields .field-item:last-child:after {
content: '';
}

.mfp-bg.animated {
opacity: 0;
-webkit-transition: opacity 350ms ease-out;
-moz-transition: opacity 350ms ease-out;
-o-transition: opacity 350ms ease-out;
transition: opacity 350ms ease-out;
}
.mfp-bg.mfp-ready.animated {
opacity: 0.8;
}
.mfp-bg.mfp-removing.animated {
opacity: 0;
}
.mfp-wrap.animated .mfp-content {
-webkit-animation-duration: 350ms;
-moz-animation-duration: 350ms;
-o-animation-duration: 350ms;
animation-duration: 350ms;
}
.mfp-wrap.animated .mfp-content {
-webkit-animation-name: fadeInDown;
-moz-animation-name: fadeInDown;
-o-animation-name: fadeInDown;
animation-name: fadeInDown;
}
.mfp-wrap.mfp-removing.animated .mfp-content {
-webkit-animation-name: fadeOutDown;
-moz-animation-name: fadeOutDown;
-o-animation-name: fadeOutDown;
animation-name: fadeOutDown;
}
.mfp-wrap.animated .mfp-arrow {
-webkit-animation-duration: 350ms;
-moz-animation-duration: 350ms;
-o-animation-duration: 350ms;
animation-duration: 350ms;
}
.mfp-wrap.animated .mfp-arrow-left {
-webkit-animation-name: fadeInRight;
-moz-animation-name: fadeInRight;
-o-animation-name: fadeInRight;
animation-name: fadeInRight;
}
.mfp-wrap.mfp-removing.animated .mfp-arrow-left {
-webkit-animation-name: fadeOutLeft;
-moz-animation-name: fadeOutLeft;
-o-animation-name: fadeOutLeft;
animation-name: fadeOutLeft;
}
.mfp-wrap.animated .mfp-arrow-right {
-webkit-animation-name: fadeInLeft;
-moz-animation-name: fadeInLeft;
-o-animation-name: fadeInLeft;
animation-name: fadeInLeft;
}
.mfp-wrap.mfp-removing.animated .mfp-arrow-right {
-webkit-animation-name: fadeOutRight;
-moz-animation-name: fadeOutRight;
-o-animation-name: fadeOutRight;
animation-name: fadeOutRight;
}
/* Media Queries */
@media only screen and (min-width: 768px) and (max-width: 959px) {
.portfolio-area .portfolio-item {
    width: 50%;
}
}
@media only screen and (max-width: 767px) {
.portfolio-area .portfolio-item {
    height: auto;
    width: 100%;
}
}

/* Right side text styling */

.right-side-body-text {
    display: table;
    z-index: 50;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    margin-bottom: 20%;
}

/*
Media Queries
*/

@media screen and (min-width:1000px) and (min-height: 800px) {
    .bio {
        padding: 3% 10% 3% 8%;
    }
}

@media screen and (max-width: 1000px) {
    .bio {
        margin: 8% auto auto auto;
    }

    .intro-video {
        z-index: 50;
        width: 60%;
        margin: 10% auto auto auto;
    }

    body {
        overflow: scroll;
    }

    .left-content-wrapper {
        width: 100%;
        height: 40%;
        float: none;
        display: list-item;
    }

    .right-content-wrapper {
        width: 100%;
        height: 60%;
        float: none;
        display: inline-block;

    }

    .right-side-body-text {
        width: 50%;
        margin-top: 7%;
    }

    .main-menu {
        margin: 0;
    }

    .fa {
        float: none;
    }
}

@media screen and (max-width: 1000px) and (max-height: 750px) {
    .bio {
        padding: 3% 10% 3% 8%;
    }

    .right-side-body-text {
        margin-top: 13%;
    }
}

@media screen and (max-height: 750px) {
    .intro-video {
        margin: 15% auto auto auto;
    }
}

@media screen and (max-height: 600px) {
    .intro-video {
        display: none;
    }
}