/*Text*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Average Sans', sans-serif;
}

p {
    font-family: 'Average Sans', sans-serif;
}

body {
    font-family: 'Average Sans', sans-serif;
    line-height: 1.1;
}

body,
html,
video {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: auto;
}

.content {
    position: absolute;
    z-index: 2;
    margin: 0 auto;
}


.column {
    float: left;
    padding: 20px;

}

.row {
  list-style-type: none;

}

.ul {
  margin: 0;
}

li{
  float: left;
  padding-right: 2%;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}


/*Social Media buttons*/
.fa {
    padding: 8px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-github {
  background: #000000;
  color: white;
}


/*
Homepage styling
*/

.home-page {
    top: 30%;
    left: 5%;
}

.title {
    text-align: right;
    margin-bottom: 24px;
}

.text {
    padding-top: 20px;
    margin-bottom: 24px;

}


.list-social-buttons {
    padding-left: 0;
}

.contact {
    z-index: 3;
}

/*Video styling*/


.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.video-bg {
    position: absolute;
    top:50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
	            transform: translate(-50%, -50%);
}

/*
Media Queries
*/


/*Home page Video bg*/
@media (max-width: 747px) {
    .fullscreen-bg {
        background: url('../media/image-bg.png') center center / cover no-repeat;
    }

    .video-bg {
        display: none;
    }

    .home-page {
    top: 10%;
    }
}

@media screen and (max-width: 440px) {
  li {padding-right: 10%; margin-top: 10px;margin-bottom: 10px;}
  ul {padding-left:0px;}
}