/*Text*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Average Sans', sans-serif;
}

p {
    font-family: 'Average Sans', sans-serif;
}

body {
    font-family: 'Average Sans', sans-serif;
    line-height: 1.1;
}

body,
html {
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;

}
.ul {
  margin: 0;
}

li{
  float: left;
  padding-right: 50%;
}

a:link {
    color: #547275;
    text-decoration: none;
}

a:visited {
    color: #756960;
}

a:hover {
    color: #FFC193;
}

a:active {
    color: #C2B8B1;
}

/*Social Media buttons*/
.fa {
    padding: 8px;
    font-size: 30px;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    margin: 8px;
    border-radius: 50%;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-github {
  background: #000000;
  color: white;
}

.fa-behance {
    background: #0057ff;
    color: white;
}

.fa-youtube {
    background: #ff0400;
    color: white;
}


/*
Hoempage styling
*/
.left-content-wrapper {
    z-index: 2;
    width: 40%;
    height: 100%;
    float: left;
}

.right-content-wrapper {
    z-index: 30;
    width: 60%;
    height: 100%;
    float: right;
}

.bio {
    margin: 40% 16%;
    padding: 21% 10%;
    width: 60%;
    height: 20%;
    border: #547275;
    border-width: 2px;
    border-style: solid;

}

.column {
    list-style-type: none;
    align-items: left;
    padding-left: 0px;
}

.title {
    color:#000000;
    text-align: left;
}

.menu {
    /* -webkit-column-count: 1;
    -moz-column-count: 1;
       column-count: 1; */
}




/*Video styling*/


.intro-video {
    z-index: 50;
    margin: 27% 3%;

}

.video-home {
    position: absolute;
    height: 49%;
    min-width: 10%;
    min-height: 10%;
}

/*
Media Queries
*/


/*Home page Video bg*/
@media (max-width: 747px) {
    .fullscreen-bg {
        background: url('../media/image-bg.jpg') center center / cover no-repeat;
    }

    .video-bg {
        display: none;
    }

    .home-page {
    top: 10%;
    }
}

@media screen and (max-width: 440px) {
  li {padding-right: 10%; margin-top: 10px;margin-bottom: 10px;}
  ul {padding-left:0px;}
}