    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About me</h2>
              <br/>
                <p>I'm a student who is passionate about technology, arts and learning.</p>
                <p>Feel free to look at my portfolio elsewhere for now: <a href="https://www.instagram.com/sph_aech/">@sph_aech</a></p>
              <br/>
            </div>
            
        </div>
    </section>
