<!DOCTYPE html>
<html>
	<head>

    <meta charset="utf-8">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/style.css">

    <title>{{ page.title }}</title>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Sophia Huynh">

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Average+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <div class="left-content-wrapper">
            <div class="bio">
                <div class="title">
                    <a href="/" class="home-link"><h1>Hi my name is<br>Sophia Huynh</h1>
                        <p>I like technology, arts, and learning</p></a>
                </div>
                <div class="menu">
                    <ul class="column">
                        <li><a href="/about-me" class="main-menu">About me</a></li>
                        <!-- <li><a href="/software" class="main-menu">Software Projects</a></li> -->
                        <li><a href="/graphics" class="main-menu">Graphics</a></li>
                        <li><a href="/photos" class="main-menu">Photography</a></li>
                        <li><a href="/videos" class="main-menu">Videography</a></li>
                    </ul>
                </div>
            </div>
            <div class="social-media-block">
                <ul class="row list-social-buttons">
                        <li><a href="https://www.instagram.com/sph_aech/" class="fa fa-instagram" alt="Instagram"></a></li>
                        <li><a href="https://twitter.com/sphaech" class="fa fa-twitter" alt="Twitter"></a></li>
                        <li><a href="https://github.com/sph-huynh" class="fa fa-github" alt="Github"></a></li>
                        <li><a href="https://linkedin.com/in/sphhuynh" class="fa fa-linkedin" alt="Linkedin"></a></li>
                        <li><a href="https://www.behance.net/sphhuynh206f" class="fa fa-behance" alt="Behance"></a></li>
                        <li><a href="https://www.youtube.com/channel/UC7U83IB8OK3YZG-qkskzFfw/" class="fa fa-youtube" alt="Youtube"></a></li>
                </ul>
            </div>
 
        </div>
        <div class="right-content-wrapper">
        {{ content }}
        </div>

</html>